<header>
  <nav class="navbar">
    <ul class="navbar__container">
      <li class="navbar__item"><a href="#agradecimiento">Agradecimiento</a></li>
      <li class="navbar__item"><a href="#misa">Misa</a></li>
      <li class="navbar__item"><a href="#recepcion">Recepción</a></li>
      <li class="navbar__item"><a href="#detalles">Detalles</a></li>
    </ul>
  </nav>
</header>
