.home {
  background-color: var(--home-background);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.home p {
  color: var(--gold);
  font-size: 2rem;
  font-family: 'Libre Caslon Display', serif;
  font-weight: 100;
  margin: 0;
}

.home h1 {
  color: var(--gold);
  font-size: 2.5rem;
  font-family: 'Libre Caslon Display', serif;
  font-weight: 600;
  margin: 0;
}

.home h1 span {
  color: var(--gold);
  font-size: 3rem;
  font-family: 'Whisper', cursive;
  font-weight: 100;
  line-height: 0;
}