.home {
  background-color: var(--home-background);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
}

.home p {
  color: var(--gold);
  font-size: 2rem;
  font-family: 'Libre Caslon Display', serif;
  font-weight: 100;
  margin: 0;
}

.home h1 {
  color: var(--gold);
  font-size: 2.5rem;
  font-family: 'Libre Caslon Display', serif;
  font-weight: 600;
  margin: 0;
}

.home h1 span {
  color: var(--gold);
  font-size: 3rem;
  font-family: 'Whisper', cursive;
  font-weight: 100;
  line-height: 0;
}

.home img {
  height: 42rem;
  width: auto;
  position: absolute;
  right: -14rem;
  top: -11rem;
  transform: rotate(10deg);
}

@media only screen and (min-width: 80em) {
  .home h1 {
    font-size: 4rem;
  }

  .home h1 span {
    font-size: 3.5rem;
  }
}