@import "navbar.css";
@import "gratefulness.css";
@import "home.css";
@import "mass.css";
@import "reception.css";
@import "details.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Libre+Caslon+Display&family=Whisper&display=swap');

:root {
  --body-color: #444;
  --heading-color: black;
  --action-color: #d64045;
  --gold: #b7a078;
  --gold-border: #79613d;
  --height-default: 90dvh;
  --height-header: 10dvh;
  --home-background: #f4e1d7;
  --body-background: #F8F4EB;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--body-background);
  font-family: 'Cormorant Garamond', serif;
  color: var(--gold-border);
}

main {
  scroll-behavior: smooth;

  @media (max-width: 500px) {}
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: var(--height-header);
}

.image {
  width: 100%;
  height: 100%;
  height: 90dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image.last {
  background-position-x: -10rem;
}

@media only screen and (min-width: 720px) {
  .image.last {
    background-position-x: -5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .image.last {
    background-position-x: 0;
  }
}

.image.red-dress {
  background-position-y: 0;
}

@media only screen and (min-width: 720px) {
  .image.red-dress {
    background-position-y: -20rem;
  }
}

@media only screen and (min-width: 1000px) {
  .image.red-dress {
    background-position-y: -35rem;
  }
}


.full-view {
  height: var(--height-default);
}

.title {
  font-size: 2.5rem;
  font-family: "Libre Caslon Display", serif;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-color: var(--gold);
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: var(--gold);
}

.subtitle {
  font-size: 1.5rem;
  font-family: "Libre Caslon Display", serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


.footer {
  height: 5dvh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: white;
  color: var(--gold);
}

.footer a {
  padding-left: 4px;
  padding-right: 5px;
  color: var(--gold-border);
}