.navbar {
  height: 100%;
  background-color: white;
}

.navbar .navbar__container {
  margin-block-start: 0;
  padding-inline-start: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  border-bottom: 1px solid var(--gold-border);
}

.navbar .navbar__item {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.navbar .navbar__item a {
  text-decoration: none;
  color: var(--gold-border);
}

@media only screen and (min-width: 80em) {
  .navbar .navbar__container {
    justify-content: space-evenly;
  }
}