<%= render Shared::Image.new(source: "images/hat.webp") %>

<section id="detalles" class="details full-view">
  <h2 class="title">
    Detalles
  </h2>
  <div class="container">
    <h3 class="subtitle">
      Sugerencia de regalo
      <br>
      <%= svg "/images/envelope.svg" %>
    </h3>
    <h3 class="subtitle">
      Formal
    </h3>
    <h3 class="subtitle">
      No niños
    </h3>
    <div data-controller="guests">
      <p>
        ESTA INVITACIÓN ES PARA
        <br>
        <span data-guests-target="guests">cargando..</span>
      </p>
    </div>
    <h3>Favor de confirmar asistencia</h3>
    <h2>!Los esperamos!</h2>
  </div>
</section>