<%= render Shared::Image.new(source: "images/blue_dress.webp") %>

<section id="agradecimiento" class="gratefulness full-view">
  <p>
    Hoy llenos de alegría por su vida, por su juventud, y por todo lo que le ha permitido alcanzar, nosotros:
  </p>
  <h2>
    Federico Maldonado
    <br>
    &
    <br>
    Patricia Martínez
    <br>
    &
    <br>
    hermanas
  </h2>
  <p>
    ¡Queremos agradecer!
    <br>
    Y la mejor forma que encontramos, es reunirnos en torno a la Eucaristía.
    <br>
    Nos gustaría mucho que formaran parte de esta Acción de Gracias.
  </p>
</section>