<section id="home" class="home full-view">
  <img src="images/mariposa.png">
  <p>
    MIS XV
  </p>
  <h1>
    PAULINA LORETO
    <br>
    <span>
      Maldonado Martínez
    </span>
  </h1>
</section>