<%= render Shared::Image.new(source: "images/red_dress.webp", style: "red-dress") %>

<section id="misa" class="mass full-view section">
  <h2 class="title">
    MISA
  </h2>
  <div class="container">
    <h3 class="subtitle">
      Parroquia de Nuestra Señora del Rosario
    </h3>
    <h3 class="subtitle">
      Sábado 11 de noviembre 2023
      <br>
      17:30 HRS
    </h3>
    <p>
      Universidad Autónoma de Nuevo León 600, Villa Universidad, 66420 San Nicolás de los Garza, N.L.
    </p>
    <%= link_to "Ver mapa", "https://maps.app.goo.gl/iE1TBS8f9hSdvEcU8", target: "_blank" %>
  </div>
</section>