<section id="misa" class="mass full-view section">
  <h2 class="title">
    MISA
  </h2>
  <div class="container">
    <h3 class="subtitle">
      Parroquia de Nuestra Se침ora del Rosario
    </h3>
    <h3 class="subtitle">
      Sabado 11 de noviembre 2023
      <br>
      17:30 HRS
    </h3>
    <p>
      Universidad Aut칩noma de Nuevo Le칩n 600, Villa Universidad, 66420 San Nicol치s de los Garza, N.L.
    </p>
  </div>
</section>