<%= render Shared::Image.new(source: "images/red_dress2.webp", style: "red-dress") %>

<section id="recepcion" class="reception full-view section">
  <h2 class="title">
    Recepción
  </h2>
  <div class="container">
    <h3 class="subtitle">
      La Galería Eventos
    </h3>
    <h3 class="subtitle">
      Sábado 11 de noviembre 2023
      <br>
      20:00 HRS
    </h3>
    <p>
      Av. Benito Juárez 501, Col. La Encomienda, Joyas de Anáhuac, 66054 Cd Gral Escobedo, N.L.
    </p>
    <%= link_to "Ver mapa", "https://maps.app.goo.gl/6MTu1R3ZBTc7TwWF7", target: "_blank" %>
  </div>
</section>